PORT=5000
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=calibre

# Configuración de Reportes por Correo
REPORT_EMAIL_TO=
REPORT_EMAIL_FROM=

# Credenciales del Servidor SMTP (Ejemplo: Gmail, Mailgun, SendGrid)
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
